**/infra/.terraform/*
infra/.terraform/
infra/.terraform/providers/registry.terraform.io/hashicorp/aws/3.74.1/windows_386/terraform-provider-aws_v3.74.1_x5.exe

*.tfstate
*.tfstate.*git st

#*.terraform.lock.hcl
.terraform.tfstate.*
terraform.tfstate.*

*.log


*.tfvars
