**/infra/.terraform/*
infra/.terraform/
infra/.terraform/providers/registry.terraform.io/hashicorp/aws/3.74.1/windows_386/terraform-provider-aws_v3.74.1_x5.exe

*.tfstate
*.tfstate.*git st

#*.terraform.lock.hcl
.terraform.tfstate.*
terraform.tfstate.*

*.log


*.tfvars



# files ignored for SPRING tools

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

